<!DOCTYPE html>
<form action="/login" method="post">
  Name:<br>
  <input type="name" name="login"><br>
  Password:<br>
  <input type="password" name="password">
  <br>
  <input type="submit" value="Login">
</form>
